<!DOCTYPE html>
<html>
<head>
	<title>Monster Slayer</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" src="app.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>	
<div id="app">
	<div class="ui grid">
		<div class="three wide column"></div>
		<div class="ten wide column">			
			<div class="ui segments">
			<div class="ui yellow inverted center aligned segment"><h1>MONSTER SLAYER</h1></div>
				<div class="ui horizontal segments">
					<div class="ui padded segment">
						<h2>PLAYER</h2>
						<h3>Health<h3>
						<div class="ui progress success">
	  						<div class="bar" :style="playerStyle">
		  						<div class="progress">{{playerHealth}}</div>
	  						</div>
						</div>
						<h3>Magic<h3>
						<div class="ui progress blue">
	  						<div class="bar" :style="magicStyle">
		  						<div class="progress">{{magic}}</div>
	  						</div>
						</div>
					</div>
					<div class="ui padded segment">
						<h2>ENEMY</h2>
						<h3>Health<h3>
						<div class="ui progress error">
	  						<div class="bar" :style="enemyStyle">
		  						<div class="progress">{{enemyHealth}}</div>
	  						</div>
						</div>
					</div>
				</div>
				<div v-if="won" class="ui green inverted center aligned segment">
					<h1>YOU WON!</h1>
				</div>
				<div v-else-if="lost" class="ui red inverted center aligned segment">
					<h1>YOU LOST :(</h1>
				</div>
				<div v-if="givenup" class="ui center aligned segment">
					<div  @click.stop="start" class="ui green button">START NEW GAME</div>	
				</div>
				<div v-if="!givenup" class="ui horizontal segments">
					<div class="ui center aligned segment"><div @click.stop="attack" class="ui red button">ATTACK</div></div>	
					<div class="ui center aligned segment"><div @click.stop="specialAttack" class="ui orange button">SPECIAL ATTACK</div></div>
					<div class="ui center aligned segment"><div @click.stop="heal" class="ui green button">HEAL</div></div>
					<div class="ui center aligned segment"><div @click.stop="start"  class="ui white button">GIVE UP</div></div>
				</div>
				<div v-if="playerAttacks.length>0" class="ui horizontal segments">
					<div class="ui segment">
						<div v-for="attack in reverse(playerAttacks)" class="ui blue inverted center aligned segment">
							<div v-if="attack>0">Player dealt {{attack}} damage</div>
							<div v-else>
								Player healed with {{-attack}}
							</div>
						</div>
					</div>
					<div class="ui segment">
						<div v-for="attack in reverse(enemyAttacks)" class="ui red inverted center aligned segment">
							<div v-if="attack>0">Enemy attacked back and dealt {{attack}} damage</div>
							<div v-else>
								Enemy healed with {{-attack}}
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="three wide column"></div>
	</div>
</div>
	<script src="app.js"></script>
</body>
</html>
